/*VARIABLES*/
:root {
    --main-color: green;
    --secondary-color: darkgoldenrod;
    --font-color: black;
    --background-color: white;
    --border-color: #828282;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/*GRID*/
#page-container {
    display: grid;
    /*grid-template-areas:"header" 
                        "hero" 
                        "main" 
                        "aside" 
                        "footer";*/
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
}

/*HEADER STYLE*/
#global-header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem;
/*grid-area: header;*/
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 2;
    nav{
        ul{
            padding: 0;
            margin: 0;
            li{
                list-style: none;
                display: inline-block;

            }
        }
    }
}

/*MAIN LOGO STYLE*/
#mainlogo {
    font-size: 30px;
    color: green;
    font-weight: bold;
    text-decoration: none;
    font-family: helvetica;
}

/*GENERAL STYLING*/
a {
    text-decoration: none;
    color: black;
}

/*ADVERTISEMENT STYLE*/
.advertisement {
    background-image: url("https://picsum.photos/700/200?grayscale");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: var(--border-color);
    text-decoration: none;
    position: relative;
    height: 50vh;
    min-height: 200px;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    /*grid-area: hero;*/
 
    /*Position of image*/
    img{
        width: 100%;
    }

    /*Position of text*/
    h2, p, a {
        position: absolute;
    }

    p {
        top: 50px;
    }

    a {
        top: 160px;
    }
}

main {
    max-width: 1200px;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    /*grid-area: main;*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

    section {
        h2 { 
            text-align: center;
           }
    }
}

main > * {
    margin: 0 auto;
}

/*ARTICLE STYLE*/
article {
    margin: 0 auto;
    border: 3px solid #828282;
    padding: 1rem;
    border-radius: 5px;
    max-width: 400px;
    min-width: 250px;
}

/*BUTTON STYLE FOR PRODUCTS*/
.btn {
    display: inline-block;
    background-color: green;
    color: white;
    padding: 0.75rem;
    border-radius: 5px;
    border: none;
}

/*SIDE*/
.side-container {
    background-color: var(--border-color);
    padding: 1rem;
    /*grid-area: aside;*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    
    form {
        input{
            display: block;
            padding: 1rem;
            margin: 0.4rem 0;
        }
    }
}

.age-check {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.btn:hover {
    background-color: darkgoldenrod;
    color: white;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--main-color);
    margin-top: 1rem;
    /*grid-area: footer;*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;

    p, a {
        display: inline flex;
        gap: 1rem;
        color: white;
        font-weight: bold;
    }
}

@media only screen and (min-width: 600px){
    #page-container{
        grid-template-columns: 1fr 1fr 0.5fr;
        grid-template-rows: repeat(4, auto);
        /*grid-template-areas:"header header header"
                            "hero hero hero"
                            "main main main"
                            "aside aside aside"
                            "footer footer footer";
        grid-template-columns: 1fr 1fr 0.5fr*/    
    }

    #global-header { 
        grid-column-end: 4;
    }

    .advertisement {
        grid-column-end: 4;
    }

    main {
        grid-column-end: 3;
    }

    .side-container {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    footer {
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    
}