/*VARIABLES*/
:root {
    --main-color: green;
    --secondary-color: darkgoldenrod;
    --font-color: black;
    --background-color: white;
    --border-color: #828282;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/*HEADER STYLE*/
#global-header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem;
    nav{
        ul{
            padding: 0;
            margin: 0;
            li{
                list-style: none;
                display: inline-block;

            }
        }
    }
}

/*MAIN LOGO STYLE*/
#mainlogo {
    font-size: 30px;
    color: green;
    font-weight: bold;
    text-decoration: none;
    font-family: helvetica;
}

/*GENERAL STYLING*/
a {
    text-decoration: none;
    color: black;
}

/*ADVERTISEMENT STYLE*/
.advertisement {
    background-image: url("https://picsum.photos/700/200?grayscale");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: var(--border-color);
    text-decoration: none;
    position: relative;
    height: 50vh;
    min-height: 200px;
 
    /*Position of image*/
    img{
        width: 100%;
    }

    /*Position of text*/
    h2, p, a {
        position: absolute;
    }

    p {
        top: 50px;
    }

    a {
        top: 160px;
    }
}

main {
    max-width: 1200px;
    width: 100%;
    margin: 1rem auto;

    section {
        h2 { 
            text-align: center;
           }
    }
}

main > * {
    margin: 0 auto;
}

/*ARTICLE STYLE*/
article {
    margin: 0 auto;
    border: 3px solid #828282;
    padding: 1rem;
    border-radius: 5px;
    max-width: 400px;
    min-width: 250px;
}

/*BUTTON STYLE FOR PRODUCTS*/
.btn {
    display: inline-block;
    background-color: green;
    color: white;
    padding: 0.75rem;
    border-radius: 5px;
    border: none;
}

/*SIDE*/
.side-container {
    background-color: var(--border-color);
    padding: 1rem;
    
    form {
        input{
            display: block;
            padding: 1rem;
            margin: 0.4rem 0;
        }
    }
}

.age-check {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.btn:hover {
    background-color: darkgoldenrod;
    color: white;
}

footer {;
    text-align: center;
    padding: 1rem;
    background-color: var(--main-color);
    margin-top: 1rem;
    p, a {
        display: inline flex;
        gap: 1rem;
        color: white;
        font-weight: bold;
    }
}